body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid lightgrey;
    padding: .5em;
    background: grey;
    margin: .3em 1em;
    border-radius: 6px;
}

.message-info {
    background: #cddeff;
    color: #534fa7;
}

.message-success {
    background: #cff3da;
    color: #2d8150;
}

.message-warning {
    background: #fcfbc9;
    color: #9c8c2c;
}

.message-error {
    background: #fad3d7;
    color: #8d2841;
}